/* ****************** Geral ******************** */
* {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}


/* ****************** fontes ****************** */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


:root {
  --fonte1: 'Montserrat 900', sans-serif;
} */


@font-face {
  font-family: "Montserrat-bold";
  src: url("Montserrat-Bold.ttf");
  font-style: normal;
}


@font-face {
  font-family: "Montserrat-black";
  src: url("Montserrat-Black.ttf");
}


@font-face {
  font-family: "Montserrat-regular";
  src: url("Montserrat-Regular.ttf");
}


/* ****************** Seção 1 ****************** */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fundo {
  width: 99.3vw;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}


.fundo::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: 310%;
  height: 566.023%;
  margin-left: -100%;
  transform: rotate(4deg);
  /* left: -103%; */
  /* left: -495px; */
  top: 70%;
  /* z-index: 1; */
}


.imgFundo {
  min-width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  z-index: -1;
}


.logo {
  z-index: 2;
  position: absolute;
  /* top: 50%; */
  margin-top: -25%;
  margin-left: 38%;
  margin-right: 62%;
  /* left: 42%; */
  width: 23.591%;
  height: 52.352%;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.borda {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  border: solid 18px #fff;
  box-shadow: black 0px 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.logo_img {
  width: 140%;
  height: 140%;
  border-radius: 100%;
  box-shadow: black 0px 8px 20px;
  left: 50%;
  top: -500px;
}


/* ****************** Seção 2 ****************** */
.secao_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
  z-index: 1;
}


.texto1 {
  text-align: center;
  margin: 10px;
  font-size: 3em;
  font-weight: bold;
  color: #664a9f;
  font-family: "Montserrat-bold";
  white-space: pre-line;
}


.texto2 {
  text-align: center;
  margin: 0px;
  font-size: 3em;
  line-height: 0.8;
  color: #664a9f;
  font-family: "Montserrat-regular";
  white-space: pre-line;
}

.texto2 span {
  margin-left: 15px;
}


/* ****************** Seção 3 ****************** */
.secao_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 100px 0px 50px 0px;
}


.texto3 {
  font-size: 2.5em;
  color: #664a9f;
  font-family: "Montserrat-regular";
}


.container_cards {
  display: flex;
  gap: 40px;
  max-width: 1599px;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  background-color: #664a9f;
  padding: 20px;
  width: 350px;
  height: 170px;
  color: white;
}


.icon_card {
  width: 100px;
  height: 100px;
  position: relative;
  top: -20px;
  left: -25px;
}


.texto_card1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -31px;
  font-family: "Montserrat-bold";
}


.texto_card2 {
  font-family: "Montserrat-regular";
}


.texto_card1Insta {
  font-family: "Montserrat-bold";
  font-size: 1.5em;
  margin-top: -10%;
}


.texto_card2Insta {
  font-family: "Montserrat-regular";
  font-size: 1em;
  margin-top: 3%;
}


/* ****************** Seção 4 ****************** */
.secao_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
  margin-bottom: 100px;
}


.texto4 {
  color: #664a9f;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Montserrat-regular";
  white-space: pre-line;
}


.btn {
  background-color: #664a9f;
  color: white;
  width: 350px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 0px 20px;
  border-radius: 35px;
  margin: 10px;
}


.btn_texto1 {
  font-size: 1em;
  margin-left: 30px;
  line-height: 0.5;
  font-family: "Montserrat-regular";
}


.btn_texto2 {
  font-size: 1.8em;
  margin-left: 30px;
  font-family: "Montserrat-bold";
}

.btn_texto_alt1 {
  font-size: 1em;
  margin-left: 30px;
  line-height: 0.8;
  font-family: "Montserrat-regular";
}

.btn_texto_alt2 {
  line-height: 24px;
  font-size: 1.8em;
  margin-left: 30px;
  font-family: "Montserrat-bold";
}


/* ****************** Media Querry ****************** */
@media screen and (max-width: 390px) {
  .fundo {
    width: 100%;
  }


  .fundo img {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }


  .logo {
    /* top: 40%;
    left: 38%; */
    /* margin-left: 41%; */
    background-color: #fff;
    z-index: 1;
    border: solid #fff 5px;
  }


  .borda {
    width: 80%;
    height: 80%;
    border: solid 4px #fff;
    box-shadow: black 0px 2px 4px;
    overflow: hidden;
  }


  .logo_img {
    box-shadow: black 0px 2px 4px;
  }


  .secao_header {
    margin-top: -2%;
  }


  .texto1 {
    font-size: 0.9em;
    margin-top: 10%;
  }


  .texto2 {
    font-size: 1em;
    line-height: 0.8;
    /* margin-top: -4%; */
    margin-top: -2%;
  }

  .texto2 span {
    margin-left: 2%;
  }


  .secao_main {
    margin: 20px 0px 50px 0px;
  }


  .texto3 {
    font-size: 0.9em;
  }


  .container_cards {
    gap: 5px;
    margin-top: -10px;
  }


  .card {
    padding: 10px;
    width: 105px;
    height: 60px;
    color: white;
  }


  .icon_card {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: -10px;
    margin-left: 15%;
  }


  .texto_card1 {
    display: flex;
    font-size: 0.4em;
    margin-bottom: 5px;
    margin-top: -34px;
    margin-left: 25px;
  }


  .texto_card2 {
    font-size: 7px;
    margin-top: 15px;
  }


  .texto_card1Insta {
    font-size: 0.4em;
    margin-bottom: 10px;
    margin-top: -34px;
    margin-left: 25px;
  }


  .texto_card2Insta {
    font-size: 6px;
    margin-top: 15px;
  }


  .secao_footer {
    margin-top: -20px;
    margin-bottom: 100px;
  }


  .texto4 {
    font-size: 0.8em;
    margin-bottom: 10px;
  }


  .btn {
    width: 180px;
    height: 40px;
    padding: 0px 0px 0px 20px;
    border-radius: 15px;
    margin: 00px;
  }


  .btn_texto1 {
    font-size: 0.5em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: 2px;
  }


  .btn_texto2 {
    font-size: 1em;
    white-space: pre-line;
    margin-left: 10px;
    margin-top: -1%;
  }


  .btn_texto_alt1 {
    font-size: 0.4em;
    margin-left: 10px;
  }


  .btn_texto_alt2 {
    font-size: 0.9em;
    line-height: 0.9;
    margin-left: 10px;
  }
}


@media screen and (max-width: 600px) and (min-width: 390px) {
  .fundo {
    width: 100%;
  }


  .fundo img {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }


  .logo {
    /* top: 40%;
    left: 38%; */
    /* margin-left: 41%; */
    background-color: #fff;
    z-index: 1;
    border: solid #fff 5px;
  }


  .borda {
    width: 80%;
    height: 80%;
    border: solid 4px #fff;
    box-shadow: black 0px 2px 4px;
    overflow: hidden;
  }


  .logo_img {
    box-shadow: black 0px 2px 4px;
  }


  .secao_header {
    margin-top: -2%;
  }


  .texto1 {
    font-size: 0.9em;
    margin-top: 10%;
  }


  .texto2 {
    font-size: 1em;
    line-height: 0.8;
    /* margin-top: -4%; */
    margin-top: -2%;
  }

  .texto2 span {
    margin-left: 2%;
  }


  .secao_main {
    margin: 20px 0px 50px 0px;
  }


  .texto3 {
    font-size: 0.9em;
    margin-top: 5%;
  }


  .container_cards {
    gap: 10px;
    margin-top: -5px;
  }


  .card {
    padding: 10px;
    width: 100px;
    height: 50px;
    color: white;
  }


  .icon_card {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: -10px;
    margin-left: 15%;
  }


  .texto_card1 {
    display: flex;
    font-size: 0.48em;
    margin-bottom: 5px;
    margin-top: -34px;
    margin-left: 25px;
  }


  .texto_card2 {
    font-size: 6.3px;
    margin-top: 15px;
  }


  .texto_card1Insta {
    font-size: 0.4em;
    margin-bottom: 10px;
    margin-top: -34px;
    margin-left: 25px;
  }


  .texto_card2Insta {
    font-size: 5.5px;
    margin-top: 15px;
  }


  .secao_footer {
    margin-top: -20px;
    margin-bottom: 100px;
  }


  .texto4 {
    font-size: 0.8em;
    margin-bottom: 10px;
  }


  .btn {
    width: 200px;
    height: 50px;
    padding: 0px 0px 0px 20px;
    border-radius: 15px;
    margin: 00px;
  }


  .btn_texto1 {
    font-size: 0.6em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: -2px;
  }


  .btn_texto2 {
    font-size: 1.1em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: -5px;
  }


  .btn_texto_alt1 {
    font-size: 0.4em;
    margin-left: 10px;
  }


  .btn_texto_alt2 {
    font-size: 1em;
    line-height: 0.9;
    margin-left: 10px;
    white-space: pre-line;
    margin-bottom: -2px;
  }
}


@media (min-width: 600px) and (max-width: 768px) {
  .fundo {
    width: 100%;
  }


  .fundo img {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }


  .logo {
    /* top: 40%;
    left: 38%; */
    /* margin-left: 41%; */
    background-color: #fff;
    z-index: 1;
    border: solid #fff 5px;
  }


  .borda {
    width: 80%;
    height: 80%;
    border: solid 4px #fff;
    box-shadow: black 0px 2px 4px;
    overflow: hidden;
  }


  .logo_img {
    box-shadow: black 0px 2px 4px;
  }


  .secao_header {
    margin-top: -2%;
  }


  .texto1 {
    font-size: 1em;
    margin-top: 10%;
  }


  .texto2 {
    font-size: 1.2em;
    line-height: 0.9;
    /* margin-top: -4%; */
    margin-top: -2%;
  }

  .texto2 span {
    margin-left: 2%;
  }


  .secao_main {
    margin: 20px 0px 50px 0px;
  }


  .texto3 {
    font-size: 1.1em;
    margin-top: 3%;
  }


  .container_cards {
    gap: 10px;
    margin-top: -0px;
  }


  .card {
    padding: 10px;
    width: 150px;
    height: 70px;
    color: white;
  }


  .icon_card {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: -10px;
    margin-left: 10%;
  }


  .texto_card1 {
    display: flex;
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-top: -34px;
    margin-left: 25px;
  }


  .texto_card2 {
    font-size: 8px;
    margin-top: 15px;
  }


  .texto_card1Insta {
    font-size: 0.7em;
    margin-bottom: 10px;
    margin-top: -34px;
    margin-left: 25px;
  }


  .texto_card2Insta {
    font-size: 6.5px;
    margin-top: 15px;
  }


  .secao_footer {
    margin-top: -10px;
    margin-bottom: 100px;
  }


  .texto4 {
    font-size: 1.3em;
    margin-bottom: 10px;
  }


  .btn {
    width: 240px;
    height: 60px;
    padding: 0px 0px 0px 20px;
    border-radius: 15px;
    margin: 00px;
  }


  .btn_texto1 {
    font-size: 0.7em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: -1px;
  }


  .btn_texto2 {
    font-size: 1.5em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: -5px;
  }


  .btn_texto_alt1 {
    font-size: 0.5em;
    margin-left: 10px;
  }


  .btn_texto_alt2 {
    font-size: 1.3em;
    line-height: 0.9;
    margin-left: 10px;
    margin-bottom: -4px;
    white-space: pre-line;
  }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .fundo {
    width: 100%;
  }


  .fundo img {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }


  .logo {
    /* top: 40%;
    left: 38%; */
    /* margin-left: 41%; */
    background-color: #fff;
    z-index: 1;
    border: solid #fff 5px;
  }


  .borda {
    width: 80%;
    height: 80%;
    border: solid 4px #fff;
    box-shadow: black 0px 2px 4px;
    overflow: hidden;
  }


  .logo_img {
    box-shadow: black 0px 2px 4px;
  }


  .secao_header {
    margin-top: -2%;
  }


  .texto1 {
    font-size: 1.5em;
    margin-top: 10%;
  }


  .texto2 {
    font-size: 1.7em;
    line-height: 0.9;
    /* margin-top: -4%; */
    margin-top: -2%;
  }

  .texto2 span {
    margin-left: 2%;
  }


  .secao_main {
    margin: 20px 0px 50px 0px;
  }


  .texto3 {
    font-size: 1.6em;
  }


  .container_cards {
    gap: 10px;
    margin-top: -10px;
  }


  .card {
    padding: 10px;
    width: 200px;
    height: 80px;
    color: white;
  }


  .icon_card {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: -10px;
    margin-left: 10%;
  }


  .texto_card1 {
    display: flex;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: -35px;
    margin-left: 30px;
  }


  .texto_card2 {
    font-size: 9px;
    margin-top: 15px;
  }


  .texto_card1Insta {
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: -36px;
    margin-left: 30px;
  }


  .texto_card2Insta {
    font-size: 10px;
    margin-top: 15px;
  }


  .secao_footer {
    margin-top: -10px;
    margin-bottom: 100px;
  }


  .texto4 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }


  .btn {
    width: 260px;
    height: 60px;
    padding: 0px 0px 0px 20px;
    border-radius: 15px;
    margin: 00px;
  }


  .btn_texto1 {
    font-size: 0.8em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: 2px;
  }


  .btn_texto2 {
    font-size: 1.3em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: -5px;
  }


  .btn_texto_alt1 {
    font-size: 0.6em;
    margin-left: 10px;
  }


  .btn_texto_alt2 {
    font-size: 1.3em;
    line-height: 0.9;
    margin-left: 10px;
    margin-bottom: -4px;
    white-space: pre-line;
  }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
  .fundo {
    width: 100%;
  }


  .fundo img {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }


  .logo {
    /* top: 40%;
    left: 38%; */
    /* margin-left: 41%; */
    background-color: #fff;
    z-index: 1;
    border: solid #fff 5px;
  }


  .borda {
    width: 80%;
    height: 80%;
    border: solid 4px #fff;
    box-shadow: black 0px 2px 4px;
    overflow: hidden;
  }


  .logo_img {
    box-shadow: black 0px 2px 4px;
  }


  .secao_header {
    margin-top: -2%;
  }


  .texto1 {
    font-size: 1.8em;
    margin-top: 10%;
  }


  .texto2 {
    font-size: 2em;
    line-height: 0.9;
    /* margin-top: -4%; */
    margin-top: -0%;
  }

  .texto2 span {
    margin-left: 2%;
  }


  .secao_main {
    margin: 20px 0px 50px 0px;
  }


  .texto3 {
    font-size: 1.7em;
    margin-top: 40px;
  }


  .container_cards {
    gap: 30px;
    margin-top: -10px;
  }


  .card {
    padding: 10px;
    width: 250px;
    height: 100px;
    color: white;
  }


  .icon_card {
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
    top: -10px;
    margin-left: 5%;
  }


  .texto_card1 {
    display: flex;
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-top: -48px;
    margin-left: 40px;
  }


  .texto_card2 {
    font-size: 11px;
    margin-top: 15px;
  }


  .texto_card1Insta {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: -51px;
    margin-left: 38px;
  }


  .texto_card2Insta {
    font-size: 12px;
    margin-top: 15px;
  }


  .secao_footer {
    margin-top: -10px;
    margin-bottom: 100px;
    gap: 20px;
  }


  .texto4 {
    font-size: 2.1em;
    margin-bottom: 10px;
    margin-top: 40px;
  }


  .btn {
    width: 300px;
    height: 80px;
    padding: 0px 0px 0px 20px;
    border-radius: 30px;
    margin: 00px;
  }


  .btn_texto1 {
    font-size: 1em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: 2px;
  }


  .btn_texto2 {
    font-size: 1.8em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: -5px;
  }


  .btn_texto_alt1 {
    font-size: 0.9em;
    margin-left: 10px;
  }


  .btn_texto_alt2 {
    font-size: 1.8em;
    line-height: 0.9;
    margin-left: 10px;
    margin-bottom: -4px;
    white-space: pre-line;
  }
}


@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .fundo {
    width: 100%;
  }


  .fundo img {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }


  .logo {
    /* top: 40%;
    left: 38%; */
    /* margin-left: 41%; */
    background-color: #fff;
    z-index: 1;
    border: solid #fff 5px;
  }


  .borda {
    width: 80%;
    height: 80%;
    border: solid 4px #fff;
    box-shadow: black 0px 2px 4px;
    overflow: hidden;
  }


  .logo_img {
    box-shadow: black 0px 2px 4px;
  }


  .secao_header {
    margin-top: -2%;
  }


  .texto1 {
    font-size: 1.8em;
    margin-top: 10%;
  }


  .texto2 {
    font-size: 2em;
    line-height: 0.9;
    /* margin-top: -4%; */
    margin-top: -0%;
  }

  .texto2 span {
    margin-left: 2%;
  }


  .secao_main {
    margin: 20px 0px 50px 0px;
  }


  .texto3 {
    font-size: 1.7em;
    margin-top: 40px;
  }


  .container_cards {
    gap: 30px;
    margin-top: -10px;
  }


  .card {
    padding: 10px;
    width: 300px;
    height: 100px;
    color: white;
  }


  .icon_card {
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
    top: -10px;
    margin-left: 5%;
  }


  .texto_card1 {
    display: flex;
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-top: -48px;
    margin-left: 40px;
  }


  .texto_card2 {
    font-size: 11px;
    margin-top: 15px;
  }


  .texto_card1Insta {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: -51px;
    margin-left: 38px;
  }


  .texto_card2Insta {
    font-size: 12px;
    margin-top: 15px;
  }


  .secao_footer {
    margin-top: -10px;
    margin-bottom: 100px;
    gap: 20px;
  }


  .texto4 {
    font-size: 2.1em;
    margin-bottom: 10px;
    margin-top: 40px;
  }


  .btn {
    width: 300px;
    height: 80px;
    padding: 0px 0px 0px 20px;
    border-radius: 30px;
    margin: 00px;
  }


  .btn_texto1 {
    font-size: 1em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: 2px;
  }


  .btn_texto2 {
    font-size: 1.8em;
    white-space: pre-line;
    margin-left: 10px;
    margin-bottom: -5px;
  }


  .btn_texto_alt1 {
    font-size: 0.9em;
    margin-left: 10px;
  }


  .btn_texto_alt2 {
    font-size: 1.8em;
    line-height: 0.9;
    margin-left: 10px;
    margin-bottom: -4px;
    white-space: pre-line;
  }
}